@import "Header/styles/header-main/header-main.css";
@import "Header/styles/header-box-left/header-box-left.css";
@import "Header/styles/header-box-right/header-box-right.css";

@import "Services/styles/services-left/services-left.css";
@import "Services/styles/services-right/services-right.css";
@import "Services/styles/services-right/monitor.css";
@import "Services/styles/services-right/locker.css";
@import "Services/styles/services-right/arrow.css";
@import "Services/styles/services-right/congifuration.css";

@import "Blog/styles/blog-main.css";
@import "Blog/styles/blog-header.css";
@import "Blog/styles/blog-body.css";
@import "Blog/styles/blog-footer.css";

@import "Footer/styles/footer.css";

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

body {
    height: 2932px;
    width: 1800px;
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
}
