.arrow {
    width: 300px;
    height: 300px;
    position: relative;
}

.container-arrow {
    width: 132px;
    height: 118px;
    top: 91px;
    left: 84px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.arrow-image {
    width: 64px;
    height: 64px;
    margin: 6px auto;
    background-image: url("../../images/Layer_21.png");
}

.digital-marketing {
    width: 142px;
    color: #3d3d3d;
    font-family: Dosis, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin-bottom: -20px;
    letter-spacing: 0.5px;
}
